/* Step 2: Import the Reset */
@import url(./reset.css);
/* End of Reset */


/* Step 3: Import the Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
/* End of Fonts */


/* Step 4: Setup the Defaults */
body{
    font-family: 'Oswald', sans-serif; 
}


h1{
    font-size: 18pt;
    font-family: 'Lobster', cursive;
    color: brown;
    text-align: center;
}

h2{
    margin: 00.5em;
    font-size: 18pt;
    text-align: center;
    font-family: 'Lobster', cursive;
    color:rgb(55, 0, 255)
    
}
    
 p {
    color: rgba(22, 17, 66, 0.938);

}
p :first-child{
    background-color: aqua;
    background-size: cover;
}
.img{
    width: 300px;
    float: left;
    margin: 0.5em;
     
}   

    
div{
    width: auto;
    margin: 0.5em;
    border-radius: 1px;
    color: rgb(16, 121, 25);
    
}
/* End of Defaults */


/* Step 5: Design the Header */
.main-header-titles h1{
    font-family: 'Lobster', cursive;  
    font-size: 12pt;
}




/* End of Header */
header{
    background-color: gold;
    background-size: cover;
}

/* Step 6: Define the Nav */

/* End of Nav */


/* Step 7: Define the Section Defaults */

/* End of Section Defaults */


/* Step 8: Design Section 1 */

/* End of Section 1 */


